# Python
venv/
__pycache__/
*.pyc

# Flutter / Dart
.dart_tool/
build/
.build/
flutter_build/
.pub/
.pub-cache/
.packages

# Android / iOS
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# Android / Gradle
android/.gradle/
android/local.properties
**/build/
.gradle/

# iOS
ios/Pods/
ios/.symlinks/
**/DerivedData/

# Generated & binary
*.apk
*.aab
*.dex
*.so
*.jar

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# macOS Generated
macos/Flutter/GeneratedPluginRegistrant.swift

# Windows Generated
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

# Env / secrets
.env
.env.*